#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "Cat Tracker sample"

rsource "src/ui/Kconfig"

menu "GPS"

config GPS_DEV_NAME
	string "GPS device name"
	default "NRF9160_GPS"

endmenu # GPS

menu "Firmware versioning"

config CAT_TRACKER_APP_VERSION
	string "The version of the cat tracker firmware"
	default "0.0.0-development"

endmenu # Firmware versioning

config POWER_OPTIMIZATION_ENABLE
	bool "Enable power optimization"
	default y
	select LTE_EDRX_REQ

menu "Cloud socket poll"

config CLOUD_BACKEND
	string
	default "AWS_IOT"

config MQTT_KEEPALIVE
	int
	default 1200

config CLOUD_POLL_STACKSIZE
	int
	default 4096

config CLOUD_POLL_PRIORITY
	int
	default 7

config CLOUD_RECONNECT_RETRIES
	int "Number of retires after a cloud socket POLLUP"
	default 20

endmenu # Cloud socket poll

menu "External sensors"

config EXTERNAL_SENSORS
	bool "Enable external sensors"
	default y if BOARD_THINGY91_NRF9160NS || BOARD_NRF9160_PCA10015NS

config ACCELEROMETER_DEV_NAME
	string "Accelerometer device name"

config MULTISENSOR_DEV_NAME
	string "Multisensor device name"

config ACCELEROMETER_TRIGGER
	bool "Accelerometer trigger"

endmenu # External sensors

menu "Cloud codec"

config SERIALIZATION_JSON
	bool "Cloud communication enconding"
	default y
	select CJSON_LIB

config GPS_BUFFER_MAX
	int "Sets the number of entries in the GPS buffer"
	default 10

config SENSOR_BUFFER_MAX
	int "Sets the number of entries in the sensor buffer"
	default 10

config MODEM_BUFFER_MAX
	int "Sets the number of entries in the modem buffer"
	default 10

config UI_BUFFER_MAX
	int "Sets the number of entries in the UI buffer"
	default 10

config ACCEL_BUFFER_MAX
	int "Sets the number of entries in the accelerometer buffer"
	default 10

config BAT_BUFFER_MAX
	int "Sets the number of entries in the battery buffer"
	default 10

config ENCODED_BUFFER_ENTRIES_MAX
	int "Maximum amount of encoded and published sensor buffer entries"
	default 7

endmenu # Cloud codec

menu "Watchdog"

config CAT_TRACKER_WATCHDOG_TIMEOUT_MSEC
	int "Watchdog timeout in milliseconds"
	default 10000

endmenu # Watchdog

endmenu

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu

module = CAT_TRACKER
module-str = Cat Tracker
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
