#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "Cat Tracker sample"

rsource "src/ui/Kconfig"

menu "GPS"

choice
	prompt "GPS device"
	default GPS_USE_SIM
	help
		Select from which device GPS data will be fetched.

config GPS_USE_SIM
	bool "Use GPS simulator"
	select GPS_SIM
	select GPS_SIM_TRIGGER
	help
		Use simulated GPS data.


config GPS_USE_EXTERNAL
	bool "User provided GPS device"
	help
		Provide a GPS device that location data will be fetched from and
		sent to nRF Cloud

rsource "src/gps_controller/Kconfig"

endchoice

config GPS_DEV_NAME
	string "GPS device name"
	default GPS_SIM_DEV_NAME if GPS_USE_SIM
	help
		GPS device from which location data will be fetched and sent
		to nRF Cloud.

config GPS_TRIGGER
	bool
	default GPS_SIM_TRIGGER if GPS_USE_SIM

endmenu	# GPS

menu "Cloud"

config CLOUD_CERT_SEC_TAG
	int "Secure tag fo TLS credentials"
	default 42

config MQTT_PUB_TOPIC
	string "MQTT publish topic"
	default "my/publish/topic"

config MQTT_SUB_TOPIC
	string "MQTT subscribe topic"
	default "my/subscribe/topic"

config CLOUD_HOST_NAME
	string "Cloud broker hostname"
	default "a34x44yyrk96tg-ats.iot.eu-central-1.amazonaws.com"

config CLOUD_PORT
	int "Cloud AWS broker port"
	default 8883

config MQTT_MESSAGE_BUFFER_SIZE
	int ""
	default 2048

config MQTT_PAYLOAD_BUFFER_SIZE
	int ""
	default 2048

config MQTT_APP_SLEEP_MS
	int ""
	default 5000

config MQTT_APP_CONNECT_TRIES
	int "Number of times the device will try to connect to the broker"
	default 5

config GPS_CIR_BUF_PUB_LIMIT
	int "Maximum amount of entries in the gps buffer published in bulk"
	default 7

config GPS_MAX_CIR_BUF
	int "Maximum amount of entries in the gps circualr buffer"
	default 10

endmenu # Cloud

menu "Governing FSM"

config LTE_CONN_TIMEOUT
	int "Number of minutes of trying to connect to lte"
	default 10

config MODEM_TIME_RETRIES
	int "Number of seconds between each modem time fetch"
	default 10

config MODE_INDICATION_TIME
	int "Number of ms to indicate the current device mode, active or passive"
	default 10000

endmenu # Governing FSM

endmenu

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu