#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

config NRF9160_TIMESTAMP
	bool "nRF9160 timestamp module"
	select AT_CMD
	select SNTP

if NRF9160_TIMESTAMP

config NRF9160_TIMESTAMP_TIME_UPDATE_INTERVAL
	int "Time update interval"
	default 3600

config NRF9160_TIMESTAMP_DEV_NAME
	string "Name of the nrf9160 timestamp device name"
	default "NRF9160_TIMESTAMP_DEV"

config NRF9160_TIME_NTP_THREAD_SIZE
	int "Stack size of the thread maintaining NTP"
	default 2048

module=NRF9160_TIMESTAMP
module-dep=LOG
module-str=nRF9160 timestamp module
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # NRF9160_TIMESTAMP
