# Copyright (c) 2019 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menuconfig BIFRAVST_CLOUD
	bool "BIFRAVST Cloud library"
	select CJSON_LIB
	imply MQTT_LIB
	imply MQTT_LIB_TLS
	imply AT_CMD

if BIFRAVST_CLOUD

config BIFRAVST_CLOUD_STATIC_IPV4
	bool "Enable use of static IPv4"

config BIFRAVST_CLOUD_STATIC_IPV4_ADDR
	string "Static IPv4 address"
	depends on BIFRAVST_CLOUD_STATIC_IPV4

config BIFRAVST_CLOUD_SEC_TAG
	int "Security tag to use for Bifravst Cloud connection"
	default 42

config BIFRAVST_CLOUD_HOST_NAME
	string "Bifravst Cloud server hostname"

config BIFRAVST_CLOUD_PORT
	int "Bifravst Cloud server port"
	default 8883

config BIFRAVST_CLOUD_MQTT_RX_TX_BUFFER_LEN
	int "Buffer sizes for the MQTT library."
	default 2048
	help
	  Specifies maximum message size can be transmitted/received through
	  MQTT (exluding MQTT PUBLISH payload).

config BIFRAVST_CLOUD_MQTT_PAYLOAD_BUFFER_LEN
	int "Size of the buffer for MQTT PUBLISH payload."
	default 2048

config BIFRAVST_CLOUD_IPV6
	bool "Configure Bifravst Cloud library to use IPv6 addressing. Otherwise IPv4 is used."

module=BIFRAVST_CLOUD
module-dep=LOG
module-str=Bifravst Cloud
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # BIFRAVST_CLOUD