name: Test JavaScript

on:
  push:
    paths:
      - package.json
      - package-lock.json
      - "**.js"
      - "**.ts"

jobs:
  testjs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - name: Keep npm cache around to speed up installs
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
      - run: npm ci --no-audit
      - run: npx tsc
